<div class="field is-grouped is-grouped-multiline">
    <p class="control">
        <span class="select">
            <select id="people-filter-group">
                <option value="">Välj personer att visa</option>
                <option value="">Visa alla</option>
                {{#each groups}}
                {{#if .}}
                <option value="{{id}}">Visa bara scouter i {{name}}</option>
                {{/if}}
                {{/each}}
            </select>
        </span>
    </p>
    <p class="control">
        <a class="button is-white" id="steps-config-enable-partially-completed">
            <span class="icon has-text-info">
                <i class="mdi mdi-checkbox-blank-outline mdi-dark mdi-24px"></i>
            </span>
            <span>Jag vill kunna markera steg som delvis avklarade</span>
        </a>
    </p>
</div>