<div class="field">
    <label class="label">Patrull:</label>
    <div class="control">
        <div class="select">
            <select id="people-filter-group">
                <option value="">Välj personer att visa</option>
                <option value="">Visa alla</option>
                {{#each groups}}
                {{#if .}}
                <option value="{{id}}">Visa bara scouter i {{name}}</option>
                {{/if}}
                {{/each}}
            </select>
        </div>
    </div>
</div>