<section class="section">
    <div class="container">
        <h1 class="title">Märken</h1>
        {{> ../_breadcrumbs.handlebars}}

<!--
                <h2 class="subtitle is-one-third">Skapa en ny</h2>
                <form>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" id="name" name="name" placeholder="Vad heter det nya åtråvärda?"/>
                        </div>
                    </div>

                    <div class="control">
                        <button class="button is-primary create-button" type="button">Skapa</button>
                    </div>
                </form>
-->
                <!--<h2 class="subtitle">Sök bland de som redan finns</h2>-->

                <form>
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" id="achievements-search-filter" name="filter"
                                   placeholder="Sök här!">
                        </div>
                        <div class="control">
                            <a class="button is-info search-button">
                                Sök
                            </a>
                        </div>
                    </div>
                </form>
                <br/>

                <div id="achievements-search-result"></div>
            </div>
        </div>
    </div>
</section>
{{> ../_footer.handlebars}}