<section class="section">
    <div class="container">
        <h1 class="title">
            Märke {{name}}
        </h1>

        {{> ../_breadcrumbs.handlebars}}

        <article class="media">
            <div class="media-left">
                {{#if image}}
                <figure class="image is-128x128">
                    <img src="{{image}}" alt="Image">
                </figure>
                {{/if}}
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        {{#each tags}}
                        <span class="tag is-light">{{.}}</span>
                        {{/each}}
                    </p>

                    {{{descriptionHtml}}}

                    <p>Delsteg:</p>

                    <div id="achievement-steps-list"></div>
                </div>
            </div>
        </article>
    </div>
</section>
{{> ../_footer.handlebars}}