

<p>Gör så här:</p>

<ol>
    <li>Logga in i Repet.</li>
    <li>Gå till <em>Rapporter</em> och välj <em>Närvarokort</em>.</li>
    <li>Sätt <em>Huvudgrupp</em> till <em>Alla huvudgrupper</em>.</li>
    <li>Klicka på <em>Kör rapport</em>.</li>
    <li>Klicka på den "blå diskettikonen" högst upp i knapplistan i fönstret som öppnas.</li>
    <li>Klicka på <em>XML file with report data</em>.</li>
    <li>Nu skapas en XML-fil baserat på rapporten. Spara denna fil på din dator.</li>
    <li>Du kan nu ladda upp filen här nedan.</li>
</ol>

<p>Den XML-fil som skapas av Repet innehåller mer information än vad Mina Märken behöver men den
    onödiga information kommer inte sparas i Mina Märken.</p>
                