<section class="section">
    <div class="container">
        <h1 class="title">
            Importera
        </h1>

        {{> ../_breadcrumbs.handlebars}}

        <h2 class="subtitle">Importera personer</h2>

        <p>Använd den här funktionen för att importera data från ert medlemsregister. Exportera informationen
            som en CSV-fil (komma-separerad fil), öppna filen i ett program som kan visa sådana (ex. Excel) och anpassa
            innehåller så att det uppfyller kraven vi ställer (se nedan). Öppna sedan CSV-filen i en textredigerare (ex.
            Word, Anteckningar eller TextEdit), markera all text och kopiera den till textfältet här:</p>

        <form>
            <div class="field">
                <div class="control">
                    <textarea class="textarea" type="text" id="import-data" placeholder="Primary textarea"
                              style="height: 20em;">
custom_identifier,name,email,role,attr.FavouriteMovie
alice,Alice,alice@example.com,reader,Scouts Guide to the Zombie Apocalypse
bob,Bob,bob@example.com,reader,The Last Boy Scout</textarea>
                </div>
            </div>

            <div class="control">
                <button class="button is-primary" type="button" id="import-button">Importera</button>
            </div>

            <div class="errors"/>

            <div id="batchupsert-result"/>

            <div class="content is-small">
                <p>Gör så här:</p>
                <ol>
                    <li>Exportera information från ert medlemsregister i CSV-format</li>
                    <li>Klistra in data i det stora fältet ovan.</li>
                    <li>Tryck Importera.</li>
                    <li>Vi kommer nu att uppdatera informationen för de personer som redan existerar i systemet. Vi
                        kommer också lägga in de personer som inte fanns sedan tidigare. Personer som inte nämns kommer
                        att finnas kvar (importfunktionen tar aldrig bort några personer ur systemet).
                    </li>
                </ol>

                <p>För att det ska fungera ställs följande krav:</p>
                <ul>
                    <li>Första raden ska ange vilka kolumner som används.</li>
                    <li>Varje rad ska motsvara en person.</li>
                    <li>Följande kolumner kan användas:
                        <ul>
                            <li>id: Systemets eget id-nummer för personen.</li>
                            <li>custom_identifier: Er egen identifierare för personen.</li>
                            <li>name: Personens namn</li>
                            <li>email: Personens e-postadress</li>
                            <li>role: Personens roll hos er. Tillåtna värden är <code>editor</code> och
                                <code>reader</code>).
                                En "editor" kan göra vad som helst medan en "reader" bara kan läsa information.
                            </li>
                            <li>attr.custom_attribute: Om ni behöver så kan ni lägga in ytterligare information om
                                personen genom att använda av attr-prefixet. Om kolumnen <em>attr.avdelning</em>
                                innehåller värdet <em>Tisdagsgruppen</em> för en person så kommer den personen ha ett
                                attribut som heter <em>avdelning</em> med värdet <em>Tisdagsgruppen</em>. Tänk på att
                                inte
                                ha komman i namnet på attributet.
                            </li>
                        </ul>
                    </li>
                    <li>Kolumnen id eller custom_identifier måste ha ett värde för varje person.</li>
                </ul>
            </div>

        </form>

    </div>
</section>
{{> ../_footer.handlebars}}