<p>Gör så här:</p>

<ol>
    <li>Logga in i Scoutnet.</li>
    <li>Gå till din organisation och välj fliken <em>Medlemmar</em>.</li>
    <li>Klicka på knappen <em>Ladda ner</em>.</li>
    <li>
        Klicka på <em>Ladda ner lista i CSV-format</em> eller
        <em>Hämta enkelt lista i CSV-format</em>.
    </li>
    <li>Nu skapas en CSV-fil baserat på rapporten. Spara denna fil på din dator.</li>
    <li>Du kan nu ladda upp filen här nedan.</li>
</ol>

<p>Den CSV-fil som skapas av Scoutnet innehåller mer information än vad Mina Märken behöver men den
    onödiga information kommer inte sparas i Mina Märken.</p>