<section class="section">
    <div class="container">
        <h1 class="title">
            Importera till <strong>{{name}}</strong>
        </h1>

        {{> ../_breadcrumbs.handlebars}}

        <form enctype="multipart/form-data" method="post">
            <div class="content">

                <p>Använd den här funktionen för att importera ert medlemsregister.</p>

            </div>
            <div class="tabs-container">
                <div class="tabs">
                    <ul>
                        <li class="is-active"><a data-tab-content="tab-upload">Ladda upp fil</a></li>
                        <li><a data-tab-content="tab-textfield">Skriv direkt i webbläsaren</a></li>
                    </ul>
                </div>
                <div id="tab-upload" class="tab-content">
                    <div class="field">
                        <div class="control">
                            <div class="file has-name is-fullwidth is-primary">
                                <label class="file-label">
                                    <input class="file-input" type="file" id="import-file" name="importFile">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="mdi mdi-upload mdi-light mdi-24px"></i>
                                        </span>
                                        <span class="file-label">Välj fil från din dator...</span>
                                    </span>
                                    <span class="file-name"><em>Ingen fil vald</em></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="import-uploaded-file-id" name="importUploadedFileId" value="">
                    <div class="content">
                        <p>Du kan ladda upp dessa typer av filer:</p>
                        <ul>
                            <li>CSV-filer från Scoutnet. <a class="info-alert-link"
                                                                 data-long="yes"
                                                            data-template="organizations/batchupsert.help-scoutnet-csv.handlebars">Hur
                                exporterar jag en CSV-fil från Scoutnet?</a></li>
                            <li>XML-filer från Repet. <a class="info-alert-link"
                                                                 data-long="yes"
                                                         data-template="organizations/batchupsert.help-repet-xml.handlebars">Hur
                                exporterar jag en XML-fil från Repet?</a></li>
                            <li>Mina Märkens eget CSV-format. <a class="info-alert-link"
                                                                 data-long="yes"
                                                                 data-template="organizations/batchupsert.help-custom-csv.handlebars">Hur
                                skapar jag en sådan CSV-fil?</a></li>
                        </ul>
                    </div>
                </div>
                <div id="tab-textfield" class="tab-content" style="display: none;">
                    <p>Här skriver du in en CSV-fil för hand:</p>
                    <div class="field">
                        <div class="control">
                    <textarea class="textarea" id="import-data" name="importRawData"
                              style="height: 20em;">
custom_identifier,name,email,role,attr.FavouriteMovie,groups
alice,Alice,alice@example.com,reader,Scouts Guide to the Zombie Apocalypse,"Zombie Hunters,Trackers"
bob,Bob,bob@example.com,reader,The Last Boy Scout,Trackers</textarea>
                        </div>
                    </div>
                    <div class="content">
                        <p>
                            <a class="info-alert-link"
                               data-long="yes"
                               data-template="organizations/batchupsert.help-type-csv.handlebars">
                                Vad kan jag skriva här?
                            </a>
                        </p>
                    </div>

                </div>
            </div>

            <div class="content">
                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="importClearGroups" value="true">
                            Synkronisera patrullmedlemmar
                        </label>
                        <a class="info-alert-link"
                           data-template="organizations/batchupsert.help-sync-groups.handlebars">Vad innebär detta?</a>
                    </div>
                    <p></p>
                </div>

                <div class="is-grouped buttons">
                    <button class="button is-primary is-outlined" type="button" id="import-preview-button">
                        Förhandsgranska import
                    </button>
                    <button class="button is-primary" type="button" id="import-button">Importera nu</button>
                </div>

                <p>
                    <a class="info-alert-link" data-template="organizations/batchupsert.help-about.handlebars">
                        Hur hanteras nya, uppdaterade och borttagna personer?
                    </a>
                </p>
            </div>

        </form>
    </div>
</section>
{{> ../_footer.handlebars}}