<p>Så här hanteras ny, uppdaterad och saknad information:</p>

<ul>
    <li>Informationen om personer som redan existerar i systemet kommer att uppdateras.</li>
    <li>Nya personer kommer läggas in i systemet.</li>
    <li>Personer som redan finns i systemet men som inte finns bland de personer du importerar kommer
        att inte att påverkas av importen (importfunktionen tar aldrig bort några personer ur systemet).
    </li>
</ul>
