<p>
    Genom att synkronisera patrullmedlemmar så kommer de patruller som nämns i datat
    att, efter importen, enbart att bestå av personer i från det importerade datat. Detta innebär
    att scouter som i dagsläget är med i en patrull men som inte är med i patrullen enligt det data
    som du är på väg att importera kommer att plockas bort från patrullen.</p>
<p>
    Observera att
    synkroniseringen av patrullmedlemmar inte tar bort några scouter ur systemet. Synkroniseringen
    är till för att säkerställa att de patrullerna som nämns i importen enbart består av scouter
    i importen. Observera också att patruller som inte nämns i importen kommer vara oförändrade.
</p>
