<section class="section">
    <div class="container">
        <h1 class="title">Kårer</h1>

        <div class="columns">
            <div class="column is-one-third">
                <h2 class="subtitle is-one-third">Din kår</h2>
                {{#if isLoggedIn}}
                <div id="organizations-my"></div>
                {{else}}
                <p>Om du hade varit inloggad så hade du här sett en länk till din kår.</p>
                {{/if}}
            </div>
            <div class="column is-one-third">
                <h2 class="subtitle">Skapa en ny</h2>
                <form>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" id="name" name="name" placeholder="Namn på ny kår"/>
                        </div>
                    </div>

                    <div class="control">
                        <button class="button is-primary create-button" type="button">Skapa</button>
                    </div>
                </form>
            </div>
            <div class="column is-one-third">
                <h2 class="subtitle">Sök efter en som redan finns</h2>
                {{#if isLoggedIn}}

                <form>
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" id="filter" name="filter" placeholder="Vad heter den?">
                        </div>
                        <div class="control">
                            <a class="button is-info search-button">
                                Sök
                            </a>
                        </div>
                    </div>
                </form>

                <div id="organizations-search-result"></div>

                {{else}}
                <p>Tyvärr kan bara inloggade användare söka efter kårer.</p>
                {{/if}}
            </div>
        </div>
    </div>
</section>
{{> ../_footer.handlebars}}