<section class="section">
    <div class="container">
        <h1 class="title">
            Person {{name}}
        </h1>

        {{> ../_breadcrumbs.handlebars}}

        <form>
            <div class="field">
                <label class="label">Namn</label>
                <div class="control">
                    <input class="input" type="text" id="name" name="name"/>
                </div>
            </div>

            <div class="field">
                <label class="label">E-postadress</label>
                <div class="control">
                    <input class="input" type="email" id="email" name="email"/>
                </div>
            </div>

            <div class="control">
                <button class="button is-primary" type="button" id="person-save-button">Spara</button>
                <button class="button is-primary is-outlined" type="button">Ta bort</button>
            </div>

            <div class="errors"/>
        </form>

        <h2 class="subtitle">Inloggning</h2>

        <p><small>I framtiden kommer du här se på vilka sätt personen kan logga in.</small></p>

    </div>
</section>
{{> ../_footer.handlebars}}