<section class="section">
    <div class="container">
        <h1 class="title">
            Person <strong>{{name}}</strong>
        </h1>

        {{> ../_breadcrumbs.handlebars}}

        <div class="columns">
            <div class="column">
                <form>
                    <div class="field">
                        <label class="label">Namn</label>
                        <div class="control">
                            <input class="input" type="text" id="name" name="name"/>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">E-postadress</label>
                        <div class="control">
                            <input class="input" type="email" id="email" name="email"/>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Egen identifierare</label>
                        <div class="control">
                            <input class="input" type="text" id="custom_identifier" name="custom_identifier"/>
                        </div>
                        <p class="help">Något som identifierar personen. Exempelvis medlemsnummer, personnummer,
                            e-postadress eller telefonnummer. Det här värdet måste inte anges men om det anges så måste
                            det vara unikt.</p>
                    </div>
                    <div class="field">
                        <label class="label">Egna attribut</label>
                        <p class="help">Här kan du fylla i data som är viktiga för er men som egentligen har inte så
                            mycket med märken att göra. Kan exempelvis användas för att kunna söka efter personer
                            baserat på något annat än namn.</p>
                    </div>

                    <div id="person-attributes-list"></div>

                    <div class="field">
                        <label class="label">Roll</label>
                        <div class="select">
                            <select class="input" id="role" name="role">
                                <option value="reader">Läsa</option>
                                <option value="editor">Ändra</option>
                            </select>
                        </div>
                    </div>

                    <br>

                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="button" id="person-save-button">Spara</button>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Välkomstbrev</label>
                        <p class="help">För att personen ska veta att hen har tillgång till Mina Märken och för att hen ska veta hur inloggningen fungerar så kan du skicka ett välkomstbrev till personen.</p>
                        <div class="control">
                            <button class="button is-primary is-outlined" id="person-send-welcome-mail-button" type="button">Skicka välkomstbrev</button>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Ta bort personen</label>
                        <p class="help">Genom att ta bort personen så försvinner alla spår av personen ur systemet. Detta inkluderar alla avklarade märken, patrullmedlemsskap osv.</p>
                        <div class="control">
                            <button class="button is-primary is-outlined" id="person-delete-button" type="button">Ta bort</button>
                        </div>
                    </div>
                </form>

                <h2 class="subtitle">Inloggning</h2>

                <p>
                    <small>I framtiden kommer du här se på vilka sätt personen kan logga in.</small>
                </p>
            </div>
            <div class="column">
                <div class="box">
                    <h2 class="subtitle">Märken</h2>
                    <div id="achievements-summary"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{{> ../_footer.handlebars}}