<section class="section">
    <div class="container">
        <h1 class="title">
            Person {{name}}
        </h1>

        {{> ../_breadcrumbs.handlebars}}

        <div class="columns">
            <div class="column">
                <h2 class="subtitle">Profil</h2>

                <form>
                    <div class="field">
                        <label class="label">Namn</label>
                        <div class="control">
                            <input class="input" type="text" id="name" name="name"/>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">E-postadress</label>
                        <div class="control">
                            <input class="input" type="email" id="email" name="email"/>
                        </div>
                    </div>

                    <div class="control">
                        <button class="button is-primary" type="button" id="person-save-button">Spara</button>
                        <button class="button is-primary is-outlined" type="button">Ta bort</button>
                    </div>

                    <div class="errors"/>

                </form>

                <h2 class="subtitle">Inloggning</h2>

                <p>
                    <small>I framtiden kommer du h채r se p책 vilka s채tt personen kan logga in.</small>
                </p>
            </div>
            <div class="column">
                <div class="box">
                    <h2 class="subtitle">M채rken</h2>
                    <div id="achievements-summary"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{{> ../_footer.handlebars}}