{{#if achievements}}
    <table style="width: auto;">
        <tbody>
        {{#each achievements}}
        <tr>
            <td>
                <span style="white-space: nowrap;">
                    <a href="#marken/{{achievement.id}}" aria-current="page">{{achievement.name}}</a>
                </span>
            </td>
            <td>
                <progress style="width: 10rem; margin-top: 0.4rem"
                          class="progress is-small" value="{{progress_detailed.[0].percent}}"
                          max="100"></progress>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
<p>
    <small>Nyfiken på andra märken? Gå till <a href="#marken">listan med alla märken</a>.</small>
</p>
{{else}}
<p>
    <small>Inga märken än så länge.</small>
</p>
<p>
    <small>Nyfiken på märken? Gå till <a href="#marken">listan med alla märken</a>.</small>
</p>
{{/if}}
