{{#if achievements}}
    <table style="width: auto;">
        <tbody>
        {{#each achievements}}
        <tr>
            <td>
                <span style="white-space: nowrap;">
                    {{achievement.name}}
                </span>
            </td>
            <td>
                <progress style="width: 10rem; margin-top: 0.4rem"
                          class="progress is-small" value="{{progress_detailed.[0].percent}}"
                          max="100"></progress>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
<p>
    <small>Hen har inte börjat ta några märken ännu.</small>
</p>
{{/if}}