<section class="section">
    <div class="container">
        <h1 class="title">
            Ändra lösenord
        </h1>

        {{> ../_breadcrumbs.handlebars}}

        <div class="columns">
            <div class="column">
                <form>
                    {{#getting_started.is_password_credential_created}}
                    {{#getting_started.is_password_set}}
                    <div class="field">
                        <label class="label">Ditt nuvarande lösenord</label>
                        <div class="control">
                            <input class="input" type="password" id="current_password" name="current_password"/>
                        </div>
                    </div>
                    {{/getting_started.is_password_set}}
                    {{/getting_started.is_password_credential_created}}
                    <div class="field">
                        <label class="label">Ditt nya lösenord</label>
                        <div class="control">
                            <input class="input" type="password" id="new_password" name="new_password"/>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Ditt nya lösenord en gång till</label>
                        <div class="control">
                            <input class="input" type="password" id="new_password_confirm" name="new_password_confirm"/>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="button" id="set-password-button">Ändra lösenord
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{{> ../_footer.handlebars}}