<section class="section">
    <div class="container">
        <h1 class="title">
            Min profil
        </h1>

        {{> ../_breadcrumbs.handlebars}}

        <div class="content">
            <p>Hej, {{person.name}}.</p>
            <p>Din e-postadress är {{person.email}}.</p>
            <p>Du är med i kåren <a href="#karer/{{organization.id}}">{{organization.name}}</a>.</p>
        </div>
    </div>
</section>
{{> ../_footer.handlebars}}