<section class="section">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter">
                <div class="content is-small has-text-centered">
                    <p>
                        {{#if isLoggedIn}}
                        <a href="#minprofil" aria-current="page">Min profil</a>.
                        <a href="#loggaut" aria-current="page">Logga ut</a>.
                        {{else}}
                        <span>Du är inte inloggad, så du kan inte göra så mycket. <br>Vad sägs om att <a href="#loggain"
                                                                                                         aria-current="page">logga in</a>?</span>
                        {{/if}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>