<section class="section">
    <div class="container">
        <h1 class="title">Om Mina Märken</h1>
        <div class="content">
            <p>Den här tjänsten finns för att scouter och ledare ska kunna hålla reda på vilka delsteg som klarats av på
                vägen mot olika bevis- och intressemärken.</p>
            <p>Att använda tjänsten är helt kostnadsfritt.</p>
            <p>Frågor och synpunkter kring tjänsten skickas till <a id="mail-link" href="mailaddresshere"></a>.</p>

            <h2>Drift och underhåll</h2>
            <p>Tjänsten utvecklas och tillhandahålls i dagsläget av Mikael Svensson i Nacka Equmenia. Målet är att
                tjänsten ska vara tillgänglig dygnet runt men det går inte att komma ifrån att tjänsten kan vara
                otillgänglig några minuter då och då i samband med att nya funktioner introduceras.</p>

            <h2>Dataskydd</h2>
            <p>All data som du sparar i Mina Märken lagras inom EU.</p>
            <p>Om du väljer att logga in med e-postadress och lösenord så lagras lösenordet krypterat men i övrigt
                krypteras inte någon information. Du avråds därför i dagsläget att lägga in känslig information, såsom
                personnummer, i systemet.</p>
        </div>
    </div>
</section>
