<section class="section">
    <div class="container">
        <h1 class="title">Om Mina Märken</h1>
        <div class="content">
            <p>Den här tjänsten finns för att scouter och ledare ska kunna hålla reda på vilka delsteg som klarats av på
                vägen mot olika bevis- och intressemärken.</p>
            <p>Att använda tjänsten är helt kostnadsfritt.</p>
            <p>Frågor och synpunkter kring tjänsten skickas till <a class="mail-link" href="mailaddresshere"></a>.</p>

            <h2>Kommande förbättringar</h2>

            <p>Ungefär i den här ordningen kommer tjänsten förbättras i framtiden:</p>

            <article class="media">
                <div class="media-left">
                    <span class="icon is-small has-text-info">
                        <i class="mdi mdi-bug mdi-dark mdi-24px"></i>
                    </span>
                </div>
                <div class="media-content">
                    <p>
                        <em>Buggfixar.</em> Trots hög ambitionsnivå så är det ofrånkomligt att det finns buggar här och
                        där. Att fixa dessa har högst prioritet. Rapportera gärna buggar till <a class="mail-link" href="mailaddresshere"></a>.
                    </p>
                </div>
            </article>
            <article class="media">
                <div class="media-left">
                    <span class="icon is-small has-text-info">
                        <i class="mdi mdi-lock mdi-dark mdi-24px"></i>
                    </span>
                </div>
                <div class="media-content">
                    <p><del><em>Kryptera datatrafiken.</em> I dagsläget används bara http, inte https. Så ska det förstås inte vara.</del>
                        <span class="tag is-success">Klart</span>
                    </p>
                </div>
            </article>
            <article class="media">
                <div class="media-left">
                    <span class="icon is-small has-text-info">
                        <i class="mdi mdi-windows mdi-dark mdi-24px"></i>
                    </span>
                </div>
                <div class="media-content">
                    <p><del><em>Inloggning med Microsoft-konto.</em> I dagsläget fungerar det inte att logga in med ett
                        Microsoft-konto, dvs. logga in med en e-postadress som slutar med @hotmail.com eller @outlook.com.</del>
                        <span class="tag is-success">Klart</span>
                    </p>
                </div>
            </article>
            <article class="media">
                <div class="media-left">
                    <span class="icon is-small has-text-info">
                        <i class="mdi mdi-email mdi-dark mdi-24px"></i>
                    </span>
                </div>
                <div class="media-content">
                    <p><em>Bjuda in användare via e-post.</em> Det ska bli enklare och tydligare för nya användare hur de
                        ska använda tjänsten. Ett steg i denna riktning är att skicka ut e-post till alla nya användare med
                        instruktioner om hur inloggningen fungerar.
                    </p>
                </div>
            </article>

            <h2>Drift och underhåll</h2>
            <p>Tjänsten utvecklas och tillhandahålls i dagsläget av Mikael Svensson i Nacka Equmenia. Målet är att
                tjänsten ska vara tillgänglig dygnet runt men det går inte att komma ifrån att tjänsten kan vara
                otillgänglig några minuter då och då i samband med att nya funktioner introduceras.</p>

            <h2>Dataskydd</h2>
            <p>All data som du sparar i Mina Märken lagras inom EU.</p>
            <p>Om du väljer att logga in med e-postadress och lösenord så lagras lösenordet krypterat men i övrigt
                krypteras inte någon information. Du avråds därför i dagsläget att lägga in känslig information, såsom
                personnummer, i systemet.</p>
        </div>
    </div>
</section>
{{> _footer.handlebars}}