<section class="section">
    <div class="container">
        <h1 class="title">Oj då</h1>
        <p>{{message}}</p>
        {{#if showLoginLink}}
            <p>Du vill nog <a href="#login" aria-current="page">logga in</a>.</p>
        {{/if}}
    </div>
</section>
{{> _footer.handlebars}}