<section class="section">
    <div class="container">
        <h1 class="title">Oj då</h1>
        <div class="content">
            <p>{{message}}</p>
            {{#if isAuthFailure}}
            {{#if isLoggedIn}}
            <p>Du har tyvärr inte möjlighet att se den här sidan.</p>
            <p>Om du varit inloggad över en timme så kan det hjälpa att <a href="#loggaut" aria-current="page">logga
                ut</a> och sedan logga in igen.</p>
            {{else}}
            <p>Du vill nog <a href="#loggain" aria-current="page">logga in</a>.</p>
            {{/if}}
            {{/if}}
        </div>
        <div class="content is-small">
            <p>Resurs som orsakade problemet: {{requestUrl}}</p>
        </div>
    </div>
</section>
{{#if isAuthFailure}}
{{else}}
{{> _footer.handlebars}}
{{/if}}
