<section class="section">
    <div class="container">
        <h1 class="title">Oj då</h1>
        <div class="content">
            <p>{{message}}</p>
            {{#if isAuthFailure}}
            {{#if isLoggedIn}}
            <p>Du har tyvärr inte möjlighet att se den här sidan.</p>
            {{else}}
            <p>Du vill nog <a href="#loggain" aria-current="page">logga in</a>.</p>
            <p>Vet du inte hur du ska logga in? Första gången du är här? Då kan du <a
                    href="#karer/{{organizationId}}/borja" aria-current="page">skapa ett konto hos den här kåren</a>.
                För att göra detta kan du använda ditt Google-konto, ditt Facebook-konto eller din e-postadress.</p>
            {{/if}}
            {{/if}}
        </div>
        <div class="content is-small">
            <p>Resurs som orsakade problemet: {{requestUrl}}</p>
        </div>
    </div>
</section>
{{> _footer.handlebars}}