<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
        <article class="message">
            <div class="message-header">
                <p>{{title}}</p>
                <button class="info-alert-button-close delete" aria-label="close"></button>
            </div>
            <div class="message-body">
                <div class="content info-alert-content"></div>
                <div class="buttons">
                    <span class="info-alert-button-ok button">{{buttonLabel}}</span>
                </div>
            </div>
        </article>
    </div>
</div>