<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{title}}</p>
            <button class="info-alert-button-close delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content info-alert-content"></div>
        </section>
        <footer class="modal-card-foot">
            <button class="info-alert-button-ok button">{{buttonLabel}}</button>
        </footer>
    </div>
</div>