<section class="hero is-fullheight is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Märken och bedrifter
            </h1>
            <h2 class="subtitle">
                Här håller du reda på alla <strong>märken och bedrifter</strong> som dina scouter tagit.
            </h2>
            <div class="field is-grouped">
                <p class="control">
                    <a href="#stats" class="button is-inverted is-primary is-outlined is-large">Fakta</a>
                </p>
                <p class="control">
                    <a href="#organizations" class="button is-inverted is-primary is-outlined is-large">Organisationer</a>
                </p>
                <p class="control">
                    <a href="#achievements" class="button is-inverted is-primary is-outlined is-large">Märken och bedrifter</a>
                </p>
            </div>
        </div>
    </div>
</section>
