<section class="section">
    <div class="container">
        <h1 class="title">Hej {{msg}}</h1>
        <h2 class="subtitle">
            H채r h책ller du reda p책 alla <strong>m채rken och bedrifter</strong> som dina scouter tagit.
        </h2>
        <p><a href="#stats">Fakta</a></p>
        <p><a href="#organizations">Organisationer</a></p>
    </div>
</section>

