<section class="hero is-fullheight is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Mina märken
            </h1>
            <h2 class="subtitle">
                Här håller du reda på alla <strong>märken</strong> som dina scouter tagit.
            </h2>
            <div class="field is-grouped">
                <p class="control">
                    <a href="#marken" class="button is-inverted is-primary is-outlined is-large">Märken</a>
                </p>
                <p class="control">
                    <a href="#karer" class="button is-inverted is-primary is-outlined is-large">Kårer</a>
                </p>
            </div>
        </div>
    </div>
</section>
