<section class="section">
    <div class="container">
        <h1 class="title">
            Organisation {{name}}
        </h1>
<!--
        <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
        </h2>
-->

        {{> _breadcrumbs.handlebars}}

        <form>
            <div class="control">
                <label class="label">Id</label>
                <input class="input" type="text" id="id" name="id" placeholder="Disabled input" disabled>
            </div>

            <div class="field">
                <label class="label">Namn</label>
                <div class="control">
                    <input class="input" type="text" id="name" name="name" placeholder="Namn"/>
                </div>
            </div>


            <div class="control">
                <button class="button is-primary" type="button">Spara</button>
                <button class="button is-primary is-outlined" type="button">Ta bort</button>
            </div>

        </form>

        <div class="columns">
            <div class="column">
                <h2 class="subtitle is-one-third">Lägg till en ny person</h2>
                <form>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="name" placeholder="Namn"/>
                        </div>
                    </div>

                    <div class="control">
                        <button class="button create-person-button" type="button">Lägg till</button>
                    </div>
                </form>
            </div>
            <div class="column is-two-thirds">
                <h2 class="subtitle">Personer som redan finns</h2>

                <div id="organization-people-list"></div>
            </div>
        </div>

    </div>
</section>

