<section class="section">
    <div class="container">
        <h1 class="title">
            Organisation {{name}}
        </h1>

        {{> _breadcrumbs.handlebars}}

        <form>
            <div class="control">
                <label class="label">Id</label>
                <input class="input" type="text" id="id" name="id" placeholder="Disabled input" disabled>
            </div>

            <div class="field">
                <label class="label">Namn</label>
                <div class="control">
                    <input class="input" type="text" id="name" name="name" placeholder="Namn"/>
                </div>
            </div>


            <div class="control">
                <button class="button is-primary" type="button">Spara</button>
                <button class="button is-primary is-outlined" type="button">Ta bort</button>
            </div>

        </form>

        <h2 class="subtitle">Personer</h2>

        <div id="organization-people-list"></div>

        <form>
            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" name="name" placeholder="Namn"/></div>
                <div class="control">
                    <a class="button is-info create-person-button">
                        Lägg till
                    </a>
                </div>
            </div>
        </form>
    </div>
</section>

