// More information on https://bulma.io/documentation/overview/customize/
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$scout-blue: #003C69;

$scout-adventurer: #e48043;
$scout-tracker: #65b359;
$scout-discoverer: #199fcd;
$scout-challenger: #d62c77;
$scout-rover: #e8e15a;
$modal-background-background-color: rgba(white, 0.75);

$primary: $scout-blue;
$primary-invert: findColorInvert($scout-blue);

$family-header-strong: 'scouterna_dinmedium';
$family-header: 'scouterna_dinextralight';

//$family-primary: 'Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif';
//$body-size: 1.1rem;

@import "~bulma/sass/utilities/derived-variables.sass";

$blue: lighten($scout-blue, 20%);
$info: lighten($scout-blue, 20%);

@import "~bulma/bulma";

h1, h2 {
  font-family: $family-header;
  strong {
    font-family: $family-header-strong;
    font-weight: $weight-normal;
  }
}

.title {
  font-weight: $weight-normal;
  font-size: $size-1;
}

h2.subtitle {
  font-weight: $weight-normal;
  font-size: $size-3;
}

.breadcrumb.is-small {
  font-family: $family-header;
  font-size: $size-5;
  font-weight: 400;
  letter-spacing: 0.05em;

  a {
    padding: 0.1em 0.4em;
  }
}

.textarea {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 80%;
}

.clickable {
  cursor: pointer;
}

.loader {
  @include loader;
  width: 3em;
  height: 3em;
  animation-duration: 1s;
  margin: 0 auto;
}