<section class="section">
    <div class="container">
        <h1 class="title">Fakta</h1>
<!--
        <h2 class="subtitle">
            H채r h책ller du reda p책 alla <strong>m채rken och bedrifter</strong> som dina scouter tagit.
        </h2>
-->
        {{> _breadcrumbs.handlebars}}

        <p>organisation_count: {{organisation_count}}</p>
    </div>
</section>