/*
 * Credits: https://css-tricks.com/rotated-table-column-headers/
 */
th.rotate {
    /* Something you can count on */
    height: 150px;
    white-space: nowrap;
}

th.rotate > div {
    transform: /* Magic Numbers */ translate(15px, 110px) /* 45 is really 360 - 45 */ rotate(315deg);
    width: 1px;
}

th.rotate > div > span {
    max-width: 190px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}
