<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Byt lösenord
            </h1>
            <!--<h2 class="subtitle">
                Om du inte längre vet vad du har för lösenord så kan du ange
                ett nytt lösenord via det här formuläret.
            </h2>-->
        </div>
    </div>
</section>
<section class="section">
    <form method="post">
        <p class="subtitle">Vilken e-postadress loggar du in med?</p>
        <div class="field">
            <input class="input is-large"
                   type="text"
                   id="email"
                   name="email"
                   placeholder="Din e-postadress"/>
        </div>

        <div class="field">
            <button id="forgot-password-button"
                    class="button is-primary is-medium" type="button">
                Fortsätt
            </button>
        </div>

        <article class="message is-success is-hidden" id="forgot-password-status">
            <div class="message-body">
                Du kommer nu få en länk via e-post. Klicka på länken för att ange ett nytt lösenord.
            </div>
        </article>

    </form>
</section>
