<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Logga in
            </h1>
            <h2 class="subtitle">
                Märken är viktiga grejer. Inte vem som helst kan ändra dessa!
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="tile is-ancestor">
        <div class="tile is-6 is-parent">
            <article class="tile is-child">
                <h1 class="title">Välkommen</h1>
                <form>
                    <div class="control">
                        <!--<label class="label">Användarnamn</label>-->
                        <input class="input is-large" type="text" id="username" name="username" placeholder="Användarnamn">
                    </div>

                    <div class="field">
                        <!--<label class="label">Lösenord</label>-->
                        <div class="control">
                            <input class="input is-large" type="password" id="password" name="password" placeholder="Lösenord"/>
                        </div>
                    </div>

                    <div class="control">
                        <button class="button is-primary is-large" type="button" id="login-submit">Logga in</button>
                    </div>
                </form>
                <p>Tyvärr är det så att <a href="#login-reset-password" aria-current="page">jag har glömt mitt
                    lösenord</a>.</p>
            </article>
        </div>
        <div class="tile is-6 is-parent">
            <article class="tile is-child">
                <h1 class="title">Första gången du är här?</h1>
                <p>
                    Det är enkelt att börja använda tjänsten. Du kan antingen skapa ett konto specifikt för den här
                    sidan
                    eller logga in med ditt Google- eller Facebook-konto.
                </p>
                <p><a href="#loggain-skapa-konto" aria-current="page">Skapa ett konto med eget namn och lösenord</a>
                </p>
                <p><a href="#login-with-google" aria-current="page">Logga in med mitt Google-konto</a></p>
                <p><a href="#login-with-facebook" aria-current="page">Logga in med mitt Facebook-konto</a></p>
            </article>
        </div>
    </div>
</section>