<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Skapa konto
            </h1>
            <h2 class="subtitle">
                Inloggning med hjälp av e-postadress
            </h2>
        </div>
    </div>
</section>
<section class="section" id="login-createaccount">
    <form>
        <div class="field">
            <div class="control">
                <label class="label">Vad är din e-postadress?</label>
                <input class="input" type="text" id="email" name="email" placeholder="namn@example.com">
            </div>
        </div>

        <div class="field">
            <label class="label">Vad vill du ha för lösenord?</label>
            <div class="control">
                <input class="input" type="password" id="password" name="password" placeholder="Lösenord"/>
            </div>
        </div>

        <div class="field">
            <label class="label">Vilken scoutkår tillhör du?</label>
            <div class="control">
                <input class="input" type="text" id="new_organization_name" name="new_organization_name"
                       placeholder="Scoutkår"/>
            </div>
        </div>

        <div class="control">
            <button class="button is-primary is-large create-account-button" type="button">Skapa konto</button>
        </div>
        <div class="errors"/>
    </form>
    <p>Nej, det här var inte riktigt min grej. <a href="#loggain" aria-current="page">Ta mig tillbaka</a>.</p>
</section>