<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                V채lkommen tillbaka
            </h1>
            <h2 class="subtitle">
                Du 채r nu utloggad.
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <p>Vill du forts채tta jobba kan du <a href="#" aria-current="page">g책 till startsidan</a>.</p>
</section>