<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Logga in
            </h1>
            <h2 class="subtitle">
                Det finns flera sätt att logga in här. Valmöjligheter :-)
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <form method="post">
        <section class="section">
            <div class="columns">
                <div class="column">
                    <article class="notification">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary is-medium" type="submit"
                                        formaction="{{host}}/api/openid/google/signin">
                                    Logga in med Google
                                </button>
                            </div>
                        </div>
                        <div class="content is-small">
                            <p>Det här passar dig som har en Gmail-adress.</p>
                        </div>
                    </article>
                </div>
                <div class="column">
                    <article class="notification">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary is-medium" type="submit"
                                        formaction="{{host}}/api/openid/microsoft/signin">
                                    Logga in med Microsoft
                                </button>
                            </div>
                        </div>
                        <div class="content is-small">
                            <p>Det här passar dig som har en Outlook-, Hotmail- eller Live-adress.</p>
                        </div>
                    </article>
                </div>
                <div class="column">
                    <article class="notification">
                        <p class="subtitle">...eller din e-postadress</p>
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" id="email" name="email" placeholder="Din e-postadress">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input" type="password" id="password" name="password"
                                       placeholder="Ditt lösenord, om du har ett.">
                            </div>
                        </div>

                        <div class="content is-small">
                            <p>Om du inte anger ett lösenord så kommer vi skicka en inloggningslänk till din
                                e-postadress. Klicka på den länken inom fem minuter för att logga in.</p>
                        </div>

                        <div class="field">
                            <button class="button is-primary is-medium" type="submit"
                                    formaction="{{host}}/api/openid/email/signin">
                                Logga in med e-post
                            </button>
                        </div>

                        <div class="errors"/>

                    </article>
                </div>
            </div>
        </section>
    </form>
    <div class="content">
        <p>Först gången du är här? Antingen kan du <a href="#skapa-konto" aria-current="page">skapa en ny kår</a> eller
            <a href="#skapa-konto-hos-kar" aria-current="page">ansöka om att få tillgång till en existerande kår</a>.
        </p>
    </div>
    <p>Nej, det här var inte riktigt min grej. Jag vill gå till <a href="#" aria-current="page">startsidan</a> istället.
    </p>
</section>
