<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Logga in
            </h1>
            <h2 class="subtitle">
                Det finns flera sätt att logga in här. Valmöjligheter :-)
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <form method="get">
        <section class="section">
            <div class="columns">
                <div class="column">
                    <article class="notification">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary is-medium" type="submit"
                                        formaction="http://localhost:8080/api/openid/google/signin">
                                    Logga in med Google
                                </button>
                            </div>
                        </div>
                        <div class="content is-small">
                            <p>Det här passar dig som har en Gmail-adress.</p>
                        </div>
                    </article>
                </div>
                <div class="column">
                    <article class="notification">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary is-medium" type="submit"
                                        formaction="http://localhost:8080/api/openid/microsoft/signin">
                                    Logga in med Microsoft
                                </button>
                            </div>
                        </div>
                        <div class="content is-small">
                            <p>Det här passar dig som har en Outlook-, Hotmail- eller Live-adress.</p>
                        </div>
                    </article>
                </div>
                <div class="column">
                    <article class="notification">
                    <p class="subtitle">...eller din e-postadress</p>
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" id="email" name="email" placeholder="Din e-postadress">
                            </div>
                        </div>

                        <div class="field">
                            <button class="button is-primary is-medium" type="submit"
                                    formaction="http://localhost:8080/api/openid/email/signin">
                                Logga in med e-post
                            </button>
                        </div>

                        <div class="errors"/>

                        <div class="content is-small">
                            <p>Du kommer att få ett e-post med en länk för att skapa kontot.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </form>
    <div class="content">
        <p>Först gången du är här? Antingen kan du <a href="#skapa-konto" aria-current="page">skapa en ny kår</a> eller
            <a href="#skapa-konto-hos-kar" aria-current="page">ansöka om att få tillgång till en existerande kår</a>.
        </p>
    </div>
    <p>Nej, det här var inte riktigt min grej. Jag vill gå till <a href="#" aria-current="page">startsidan</a> istället.
    </p>
</section>
