<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Kolla brevlådan!
            </h1>
            <h2 class="subtitle">
                Vi har skickat en länk till din e-postadress.
            </h2>
            <p>När du klickar på länken i brevet så loggas ut in. Du kan då stänga den här sidan.</p>
        </div>
    </div>
</section>
