<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Skapa kår
            </h1>
            <h2 class="subtitle">
                Kom igång genom att skapa en kår. Du blir kårens första användare!
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <p class="subtitle">Vad heter din scoutkår?</p>
    <input class="input is-large"
           type="text"
           id="new_organization_name"
           name="new_organization_name"
           placeholder="Namn på scoutkår"/>
</section>
<section class="section">
    <p class="subtitle">Hur vill du logga in?</p>

    <form method="get">
        <div class="columns">
            <div class="column">
                <article class="notification">
                    <!--<p class="subtitle">Logga in med Google</p>-->
                    <!--<div class="content is-small">
                        <p>Smidigt om du har en Gmail-adress:</p>
                    </div>-->
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary is-medium" type="submit"
                                    formaction="http://localhost:8080/api/openid/google/signup">
                                Logga in med Google
                            </button>
                        </div>
                    </div>
                    <!--<div class="content is-small">
                        <p>Smidigt om du har en Hotmail-, Live- eller Outlook-adress:</p>
                    </div>-->
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary is-medium" type="submit"
                                    formaction="http://localhost:8080/api/openid/microsoft/signup">
                                Logga in med Microsoft
                            </button>
                        </div>
                    </div>
                    <div class="content is-small">
                        <p>Du kommer till deras inloggning och kommer därefter automatiskt tillbaka till oss.</p>
                    </div>
                </article>
            </div>
            <div class="column">
                <article class="notification">
                    <p class="subtitle">...eller din e-postadress</p>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" id="email" name="email" placeholder="namn@example.com">
                        </div>
                    </div>

                    <!--
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="password" id="password" name="password" placeholder="Lösenord"/>
                                            </div>
                                        </div>
                    -->

                    <button class="button is-primary is-medium" type="submit"
                            formaction="http://localhost:8080/api/openid/password/signup">
                        Logga in med e-post
                    </button>

                    <div class="errors"/>

                    <div class="content is-small">
                        <p>Du kommer att få ett e-post med en länk för att skapa kontot.</p>
                    </div>
                </article>
            </div>
        </div>
    </form>
    <p>Nej, det här var inte riktigt min grej. <a href="#loggain" aria-current="page">Ta mig tillbaka</a>.</p>
</section>
